* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}


header {
    display: flex;
    align-items: center;
    padding: 10px 300px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 10px;
    
}

header h1 {
    color: #e60023;
    margin-right: 20px;
}

header input {
    flex: 1;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}


.gallery {
    column-count: 4;
    column-gap: 15px;
    padding: 20px;
}


.card {
    background: white;
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
    break-inside: avoid;
    cursor: pointer;
}

.card img {
    width: 100%;
    display: block;
    border-radius: 15px;

}

.card img:hover {
    
}


@media (max-width: 1200px) {
    .gallery {
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .gallery {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    .gallery {
        column-count: 1;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background: white;
    border-right: 1px solid #ddd;
    padding: 20px 15px;
}


.logo {
    color: #e60023;
    font-size: 26px;
    margin-bottom: 30px;
    text-align: center;
}


.menu {
    list-style: none;
}

.menu li {
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    
}


.menu li:hover {
    background: #efefef;
}


.menu li.active {
    background: #e60023;
    color: white;
    font-weight: bold;
}


.gallery {
    margin-left: 240px;
}